section {
    float: left;
    width: 60%;
    margin: 5% 5%;
}

aside {
    float: left;
    width: 20%;
    margin: 5% 5%;
    background-color: rgb(18, 236, 182);

}

section > img {
    float:left;
}